.header {
	width: 100%;
	min-width: 1200px;
	background-color: #eff3f7;
	background: #eff3f7 url(../img/line.png) bottom no-repeat;
}

.container-header {
	width: 1200px;
	height: 119px;
	line-height: 117px;
}

.logo {
	float: left;
}
.logo img {
	display:inline-block;
	vertical-align:middle;
}

.logo-text {
	position: absolute;
	top:0;
	left:-9999px;
}

.socials {
	float: right;
	font-size: 0;
}

.socials-item {
	float: left;
	padding-left: 24px;
	/*background-color: red;*/
}
.socials-item:first-child{
	padding-left: 0px;
}
.socials-item-link {
	display: inline-block;
	vertical-align: middle;
    width: 47px;
    height: 47px;

}

.vk {background: url("../img/vk.png") no-repeat; }
.vk:hover {background: url("../img/vk_hover.png") no-repeat;}

.tw {background: url("../img/tw.png") no-repeat;}
.tw:hover {background: url("../img/tw_hover.png") no-repeat;}

.fb {background: url("../img/fb.png") no-repeat;}
.fb:hover {background: url("../img/fb_hover.png") no-repeat;}

.git {background: url("../img/git.png") no-repeat;}
.git:hover {background: url("../img/git_hover.png") no-repeat;}

