.login   {
	max-width: 400px;
	padding: 50px 15px 15px 15px;
	margin: 0 auto;
	border-radius: 4px;
}

 .login_container{
	margin: 0 auto;
	max-width: 370px;
	background-color: #eff3f7;

	font-family: 'fira_sanslight';
	border-radius: 4px;
	/*overflow: hidden;*/
}

.login_form {
	display: block;
	margin: 20px;
}

.footer {
	width: 100%;
}

.login_header {
	height: 139px;
	margin: 0px;
	margin-bottom: 15px;
	padding: 0px;
	background: #48cbe8;
	line-height: 122px;
	text-align: center;
	font-family: 'fira_sansbook';
	font-size: 27px;
	color: #FFFFFF;
	border-bottom: 17px solid #67dffa;
}

.footerlog {
	padding: 30px 15px 0 15px;
	/*min-width: 400px;*/
	background-color: #eff3f7;
	height: 80px;
	margin-top: -80px;
	position: relative;
	background: #eff3f7;
}

.footerlog .copyright {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}


